<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
  </system.web>
  <connectionStrings>
    <add name="kysdatabase" connectionString=" Data Source=(LocalDB)\v11.0;&#xD;&#xA;                                                Initial Catalog=kysdata;&#xD;&#xA;                                                Integrated Security=True;&#xD;&#xA;                                                Connect Timeout=15;&#xD;&#xA;                                                Encrypt=False;&#xD;&#xA;                                                TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="kysdataConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=kysdata;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>